/*general*/
html, body, #content-wrap {
	min-height: 100vh;
	max-height: 100vh;
}

body {
	background-color: #f2f2f2;
}

#body-content {
	width: 80vw;
	margin-left: 10vw;
	margin-right: 10vw;
}

h {
	font-weight: bold;
}

p {
	font-size: 0.9em;
	font-weight: 600;
	font-family: 'IBM Plex Sans', sans-serif;
}

.fancy-header {
    font-family: 'Caveat', cursive;
}

/*Sidebar*/
#sidebar {
	background-color: white;
}

#sidebar-logo {
	padding: 20px;
}

/*little underline thing*/
#sidebar-logo:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    border-bottom: 3px solid #DADADA;
}
/*guestbook text*/
#sidebar-gb {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 700;
}

a#post-button-link:hover {
	text-decoration: none;
}

#post-button {
	padding: 10px;
	background-color: #C61F3D;
	transition: all 0.5s ease-in-out;
	margin-bottom: 40px;
	cursor: pointer;
}

#post-button p {

	margin-bottom: 0px;
	color: white;
	
}

#post-button:hover {
	background-color: #FF0000;
}


/*#update-message{
	display: none;
}*/


#admin-link {
	position: absolute;
	bottom: 20px;
	padding: 10px;
	
}

#admin-link a {
	color: #A2A2A2;
}

#admin-link p {
	margin-bottom: 0px;
}


/*messages (main content)*/
#messages {
	/*height: 100%;*/
	padding: 25px;
	background-color: #383842;
}

/*.message{
	padding: 30px;
}*/






.message {
	padding: 30px;
	position: relative;
}
.message-content {
	color: white;
	
}

.message-body-wrap {
	position: relative;
	width:100%;
	height:100%;
	
}

.message-body {
	position: relative;
	z-index:2;
}

.message-icon {
  font-size: 7em;
  color: #4E4E4E;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  z-index:1;
}

.message-author {
	font-size: 1.4em;
	font-family: 'Caveat', cursive;
}

.message-date {
	font-size: 0.9em;
	font-weight: 400;
	color: #8D8D8D;
}


.admin-col {
	padding: 0px;
}

.admin-control {
	position: relative;
	background-color: #C61F3D;
	border-radius: 50%;
	color: white;
	padding: 20px;
	width: 40px;
	height: 40px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	transition: all 0.5s ease-in-out;
}

.admin-control:hover {
  background-color: #FF0000;
}

.pagination {
	margin-bottom: 0px;
   justify-content: center;
}

.page-link {
	background-color: transparent;
	color: white;
	border: none;
}

.page-link:hover {
	color: #C61F3D;
	background-color: transparent;
}

.page-link.current-page {
	color: white;
	border: 1px solid #C61F3D;
	border-radius: 50%;
	background-color: #C61F3D;
}

h5#new-message-modal-title {
	/*font-family: 'Caveat', cursive !important;*/
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 700;
}

.alert{
	display: none;
}


